/* *{
    max-width: 960px;
  }

 main {
    
    max-width: 100%;
    box-sizing: border-box;
    
 

  }
  .box-a{
    height: 100px;
    background-color: #116810;
    
  }

  .box-b{
    height: 600px;
     width: 20%;
     float: left;
     background-color: #226584;
  }

  

  .box-c{
    height: 200px;
    width: 40%;
    float: left;
    background-color: #480035;
  }

  .box-d{
    height: 200px;
   
    width: 40%;
  }

  #section2{
    width: 80%;
    height: 250px;
    float: left;

  }

  .box-e{
    height: 100%;
    width: 25%;
    
  }
  .box-e:first-child{
    background-color: #422505;
  }

  .box-e:nth-child(2){
    background-color: #526782;
  }

  .box-e:nth-child(3){
    background-color: #786245;
  }

  .box-e:last-child{
    background-color: #986543;
  }
  .box-i{
    height: 150px;
    width: 80%;
    background-color: #221902;
  } */
